<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configurações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>Informações da Ilha</ion-card-title>
    <br>
    <ion-button>Editar Villagers</ion-button>
    <br>
    <ion-card-subtitle>Em breve novas funcionalidades</ion-card-subtitle>
    <br><br>
    <ion-card-title>Personalização do Nook Phone</ion-card-title>
    <br>
    <ion-button>Cor</ion-button>
  </ion-card-header>
</ion-card>
