<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Diário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Interações Diárias</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!-- Villager 1  -->
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.redd.it/wjno22gqmvb21.png">
        </ion-avatar>
        <ion-label>Goose</ion-label>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
        <ion-icon name="gift-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <!-- Villager 2  -->
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.redd.it/wjno22gqmvb21.png">
        </ion-avatar>
        <ion-label>Villager 2</ion-label>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
        <ion-icon name="gift-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <!-- Villager 3  -->
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.redd.it/wjno22gqmvb21.png">
        </ion-avatar>
        <ion-label>Villager 3</ion-label>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
        <ion-icon name="gift-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <!-- Villager 4  -->
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.redd.it/wjno22gqmvb21.png">
        </ion-avatar>
        <ion-label>Villager 4</ion-label>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
        <ion-icon name="gift-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <!-- Villager 5  -->
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.redd.it/wjno22gqmvb21.png">
        </ion-avatar>
        <ion-label>Villager 5</ion-label>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
        <ion-icon name="gift-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <!-- Villager 6  -->
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.redd.it/wjno22gqmvb21.png">
        </ion-avatar>
        <ion-label>Villager 6</ion-label>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
        <ion-icon name="gift-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <!-- Villager 7  -->
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.redd.it/wjno22gqmvb21.png">
        </ion-avatar>
        <ion-label>Villager 7</ion-label>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
        <ion-icon name="gift-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <!-- Villager 8  -->
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.redd.it/wjno22gqmvb21.png">
        </ion-avatar>
        <ion-label>Villager 8</ion-label>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
        <ion-icon name="gift-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <!-- Villager 9  -->
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.redd.it/wjno22gqmvb21.png">
        </ion-avatar>
        <ion-label>Villager 9</ion-label>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
        <ion-icon name="gift-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <!-- Villager 10  -->
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.redd.it/wjno22gqmvb21.png">
        </ion-avatar>
        <ion-label>Villager 10</ion-label>
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
        <ion-icon name="gift-outline"></ion-icon>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>
